flows.json
[{"id":"1dc66cc7.87f363","type":"tab","label":"D1Mini DHT22","disabled":false,"info":""},{"id":"958ad0bb.31953","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c00d2f95.385e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f2781a6.60d87e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2a0b84fc.f9c0ec","type":"ui_group","name":"DHT22","tab":"c00d2f95.385e","order":1,"disp":true,"width":"6","collapse":false},{"id":"58649e4d.2e781","type":"mqtt in","z":"1dc66cc7.87f363","name":"","topic":"D1MINI/DHT22","qos":"2","datatype":"auto","broker":"958ad0bb.31953","nl":false,"rap":true,"rh":0,"x":186,"y":165,"wires":[["405f43af.ea31fc","f89d3fda.c6f05"]]},{"id":"405f43af.ea31fc","type":"debug","z":"1dc66cc7.87f363","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":402.5,"y":168,"wires":[]},{"id":"6dfa87dc.0510f8","type":"ui_gauge","z":"1dc66cc7.87f363","name":"","group":"2a0b84fc.f9c0ec","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"units","format":"{{msg.payload.t}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490.5,"y":267,"wires":[]},{"id":"80235e52.7ee76","type":"ui_gauge","z":"1dc66cc7.87f363","name":"","group":"2a0b84fc.f9c0ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"units","format":"{{msg.payload.h}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":483.5,"y":405,"wires":[]},{"id":"f89d3fda.c6f05","type":"function","z":"1dc66cc7.87f363","name":"","func":"var data=msg.payload;\nvar temp=data.split(\",\");\nvar out={};\nout[\"t\"]=temp[0];\nout[\"h\"]=temp[1];\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":278.5,"y":365,"wires":[["6dfa87dc.0510f8","80235e52.7ee76"]]}]